In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('ecommerce_data.csv')
df.head(10)

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
0,1,0,0.657510,0,3,0
1,1,1,0.568571,0,2,1
2,1,0,0.042246,1,1,0
3,1,1,1.659793,1,1,2
4,0,1,2.014745,1,1,2
5,1,1,0.512447,1,1,2
6,0,0,1.440327,1,1,0
7,1,0,0.035260,0,3,0
8,0,1,1.490764,0,0,1
9,0,0,0.005838,1,3,0

In [7]:
import numpy as np
import pandas as pd

def get_data():
	df = pd.read_csv('ecommerce_data.csv')
	data = df.as_matrix()

	X = data[:, :-1]
	Y = data[:, -1]

	X[:,1] = (X[:,1] - X[:,1].mean()) / X[:,1].std() #normalizing
	X[:,2] = (X[:,2] - X[:,2].mean()) / X[:,2].std()

	N, D = X.shape
	X2 = np.zeros((N, D+3))
	X2[:,0:(D-1)] = X[:,0:(D-1)]

	for n in range(N):
		t = int(X[n,D-1])
		X2[n,t+D-1] = 1

	Z = np.zeros((N,4))
	Z[np.arange(N), X[:,D-1].astype(np.int32)] = 1

	assert(np.abs(X2[:,-4:] - Z).sum() < 10e-10)

	return X2, Y
	
def get_binary_data():
	X, Y = get_data()
	X2 = X[Y <= 1]
	Y2 = Y[Y <= 1]
	return X2, Y2

In [29]:
X, Y = get_data()

M = 5
D = X.shape[1]
K = len(set(Y))
W1 = np.random.randn(D, M)
b1 = np.zeros(M)
W2 = np.random.randn(M, K)
b2 = np.zeros(K)

def softmax(a):
    expA = np.exp(a)
    return expA / expA.sum(axis=1, keepdims=True)

def forward(X, W1, b1, W2, b2):
    Z = np.tanh(X.dot(W1) + b1)
    print(Z)
    return softmax(Z.dot(W2) + b2)

P_Y_given_X = forward(X, W1, b1, W2, b2)
predictions = np.argmax(P_Y_given_X, axis=1)

def classification_rate(Y, P):
    return np.mean(Y == P)

print("Score:", classification_rate(Y, predictions))

[[ 0.18492451  0.82040698 -0.60745881 -0.78649369 -0.77555375]
 [-0.9107486  -0.72753709 -0.70329604  0.89052043  0.97573388]
 [ 0.46634458 -0.40724434  0.94579463  0.86302216  0.36663742]
 ...,
 [-0.83644859  0.99407253  0.90104825 -0.30576964 -0.96775005]
 [-0.06451943  0.68417961 -0.61106476 -0.65564042 -0.63449791]
 [ 0.16372941  0.99982181  0.90677584 -0.94970811 -0.9985464 ]]
Score: 0.384

In [25]:
np.tanh(1) + 0.995

1.756594155955765

In [30]:
forward(np.array([[1,2]]), np.array([[1,1], [1,0]]), 0, np.array([[0,1], [1,1]]), 0)

[[ 0.99505475  0.76159416]]

array([[ 0.26991483,  0.73008517]])

In [33]:
np.exp(.761)/ (np.exp(.761) + np.exp(1.756))

0.26992561601888121

In [34]:
np.exp(1.765)/ (np.exp(.761) + np.exp(1.756))

0.73667471035348153